var container_ = $('<div id="group_container" class="reveal-modal" data-reveal ></div>');
container_.append('<%=j (render partial: 'form', locals: {remote: true}) %>');
$('body').append(container_);
eiresis_reveal(container_);
new eiresisFormValidation($('#new_frm_mod'));
