<h2> <% = t ('words.terms_of_service')%> </h2>
<ol style = "padding-left: 10px">
<li>
<b> Acceptance of the Terms of Use and its amendments. </b>
Every time you use or access this website you accept these Terms of Use, and any changes that may be made with or without notification from us.
Furthermore, if you are using a particular service provided by or through our site, you are subject to the rules and guidelines of that service which are an integral part of these Terms of Use.
See also our <b> <% = link_to t ('words.privacy_policy'), privacy_path, remote: true, class: 'privacy_link'%> </b>, which is an integral part of these Terms of Use.
</li>