<% @page_title = "A common choice"%>
<% @meta_description = "A municipality that involves citizens, a municipality that listens to citizens"%>

<div class = "slide">
  <div class = "row centered">
    <h1> <% = @page_title%> </h1>
  </div>
</div>
<div class = "slide red">
  <div class = "row centered">
    <h2 id = "why"> Why eiresis in your Town </h2>

    <p> eiresis is a software developed in Italy and able to generate participation around the initiatives of the
      Common,
      allowing the best solutions to emerge on issues presented to citizenship.
    </p>

    <p> Through its functionality allows: </p>
    <ul>
      <li> evaluate the consent of citizens on municipal initiatives </li>
      <li> to bring huge savings in the promotion of participation events and referendums </li>
      <li> establish a constructive dialogue between citizens and the Municipality </li>
      <li> to encourage transparency and communication by the administration </li>
    </ul>
  </div>
</div>
<div class = "slide green">
  <div class = "row centered">
    <h2> Functions present in eiresis for the Municipal Administration </h2>
    <ul>
      <li> Authentication and certification of users based on the municipal registry office </li>
      <li> Events promotion and participation management </li>
      <li> Publication of news and articles </li>
      <li> Creation of motions concerning proposals, projects, regulations, organization of events, choices of
        candidates and cost estimates
      </li>
      <li> Possibility to vote on multiple solutions to a proposal </li>
      <li> Ability to make public or visible proposals only to a small group of people </li>
      <li> Ability to create areas of work for commissions, councilors, stakeholders, etc ... </li>
      <li> Archive of documents </li>
      <li> Discussion forum </li>
      <li> assignment of roles and permissions to users to define operational faculties and responsibilities based on
        needs of the municipality:
        <ul>
          <li> who can insert events </li>
          <li> who can insert proposals </li>
          <li> who can vote for proposals </li>
          <li> who can insert contributions and comments </li>
          <li> who can view the document archive </li>
          <li> who can view private proposals </li>
          <li> secure communications through the https and google authentication </li> protocol
          <li> ability to discuss temporarily anonymous </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class = "slide">
  <div class = "row centered">
    <P>
      The Public Administrations can take advantage of their personalized address, thus improving their institutional image among the citizens:
    </p>

    <p> The Municipality, by controlling the accesses through its own registry and the functions made available by eiresis will obtain an instrument that will
      citizens to know and participate in the initiatives that the city administration itself wants to encourage,
      favoring consensus and without weighing on public spending.
    </p>

    <P>
      Some municipalities have already started the experimentation, be among the first to exploit them
      potential of eiresis, citizens will appreciate this initiative.
    </p>
    <P>
      eiresis is supported through donated donations to the "Democratic Technologies" Social Promotion Association,
      that will follow your eventual request and guide you in the activation of the software and in the assistance.
    </p>
  </div>
</div>
<div class = "slide yellow">
  <div class = "row centered">
    <h2> Contacts </h2>

    <P>
      Ivica Marinkovic <br/>
      Head Developer & Owner Eiresis - Choose to Participate <br/>
      Email: ivicadevelopermarinkovic@gmail.com <br/>
    </p>

    <P>
      Alperen Aksoy <br/>
      Head Developer Eiresis - Choose to Participate <br/>
      Email: alperenaksoydev@gmail.com <br/>
    </p>

    <P>
      Maximiliano Ungredda <br/>
      Web Developer Eiresis - Choose to Participate <br/>
      Email: smartmaxdev@gmail.com <br/>
    </p>

  </div>
</div>