<% @page_title = "The first E-democracy social network in the world"%>
<% @meta_description = "An instrument of direct democracy created to decide and deliberate collectively on proposals and ideas born everywhere for any theme."%>

<div class = "slide red" xmlns = "http://www.w3.org/1999/html">
  <div class = "row centered">
    <h1 id = "next_implementazioni"> History of the project </h1>

    <p> Thanks to the determination of the volunteers, what seemed like a dream of freedom, found the support of several people and finally the support of programmers, analysts, mathematicians, graphic designers and responsible citizens is 
succeeded in trace a path for Eiresis to start in January 2013. </p>

    <p> Following are the salient events that allowed the birth of the project: </p>
  </div>
</div>
<div class = "slide green">
  <div class = "row centered">
    <h2> May 2013 - Version 3.0 </h2>
    <Ul>
      <li> Introduced forums for each group with a mailing list like feature! </li>
      <li> Removed elections feature </li>
      <li> New proposals list design with more filters and search tools </li>
      <li> Introduced gamification and user statistics </li>
      <li> @cite feature in proposal discussions with anonimity activated </li>
      <li> Redesign of propsoal creation wizard </li>
      <li> Improved proposal editing </li>
      <li> New RichTextEditor! Now we use CKEditor instead of TinyMCE </li>
      <li> New groups wall with information about recent activities </li>
      <li> Added possibilty to comment events and like other people comments </li>
      <li> Revised tutorials for new users </li>
      <li> You can now synchronize the calendar group with your Google Calendar </li>
      <li> RSS Atom Feed for blogs and groups </li>
    </ Ul>
  </div>
</div>
<div class = "slide violet">
  <div class = "row centered">
    <h2> May 2013 - Version 2.0 </h2>
    <Ul>
      <li> Totally renewed graphics! </li>
      <li> Free management of the paragraphs of the proposals </li>
      <li> Possibility to insert the contributions "in reference to a specific paragraph" </li>
      <li> Ability to indicate the contributions included during a text edit </li>
      <li> Visualization of the contributions included in the history of the proposal </li>
      <li> New visualization of the appreciation in the contributions and the possibility to modify one's own evaluation after the insertion of a suggestion </li>
      <li> Improved the service of e-mail notifications and in general the organization of notifications </li>
      <li> Ability to report a contribution as spam or indicate it as "not useful for discussion" </li>
      <li> Possibility to generate a pdf report of the proposal once it has been completed </li>
      <li> Caching mechanism for the most visited pages </li>
      <li> Many additional fixes and security checks </li>
      <li> Upload images for groups </li>
      <li> New feedback submission button </li>
    </ Ul>
  </div>
</div>
<div class = "slide yellow">
  <div class = "row centered">
    <h2> January 2013 - Version 1.0 </h2>
    <Ul>
      <li> Improved handling of proposals </li>
      <li> Custom Quorums </li>
      <li> Graphic improvements </li>
      <li> Sharing content on social networks </li>
    </ Ul>
  </div>
</div>
<div class = "slide blue">
  <div class = "row centered">
    <h2> November 2012 </h2>

    <P>
      Release of a new version of the revised software and with new functions, including:
    <Ul>
      <li> Improved user desk and user profile </li>
    </ Ul>
    <Ul>
      <li> Improvement of the structure and graphics of the proposals processing page </li>
      <li> Greater integration with social networks </li>
    </ Ul>
    </p>
  </div>
</div>
<div class = "slide green">
  <div class = "row centered">

    <h2> End of September 2012 </h2>

    <P>
      The experimentation phase of the new software version by some groups begins. <br/>
      Anyone who wishes can test the software at the address
      <a href="https://www.eiresis.com/"> http://www.eiresis.com/ </a>, report bugs and suggest improvements to the system.
    </p>
  </div>
</div>
<div class = "slide violet">
  <div class = "row centered">
    <p> September 2012 <br/>
      The structure of Eiresis is revolutionized by the introduction of a space for proposals and a calendar
      within the groups. Improvement of the forum tool (with the possibility of also managing debates
      anonymous), improvement of the graphics, correction of some bugs. </p>

    <p> July 2012 <br/>
      Merger of the Agora 2.0 project and the Eiresis project </p>

    <p> June 2012 <br/>
      A version of Eiresis is released in part inspired by the logic of Agora 2.0 </p>

    <p> February 2012 <br/>
      The Agora 2.0 project and Ivica Marinkovic, developer of the first version of Eiresis, get in touch </p>

    <p> January 2012 - Ivica