var container_ = $('<div id="group_area_container" class="reveal-modal" data-reveal></div>');
container_.html("<%=j render(partial: 'group_areas/form', locals: {remote: true})%>");
$('body').append(container_);
eiresis_reveal(container_);
new eiresisFormValidation(container_.find('form'));
